.background {
  /*height: calc(100vh);*/
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../bg.jpg");
  background-size: cover;
  background-position: center;
}

.skillsContainer {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.skillsContent {
  position: relative;
  z-index: 1;
  color: #000;
}

#tsparticles {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

/* Skills.module.css 
.iconContainer {
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 1rem;
}

.icon {
  font-size: 4rem;
  color: #0a0eeb;
  transition: transform 0.3s ease;
}

.icon:hover {
  transform: scale(1.1);
}
*/

.skillsContainer {
  text-align: center;
  padding: 12rem;
}

.skillsTitle {
  color: #fff;
  margin-bottom: 1rem;
}

.skillsIcons {
  display: flex;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
}

.icon {
  width: 64px;
  height: 64px;
  transition: transform 0.3s;
}

.skillItem:hover {
  transform: scale(2.1);
}

.skillsGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4rem;
  justify-content: center;
  justify-items: center;
}

.skillItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100px;
}

.skillItem figcaption {
  margin-top: 0.5rem;
  color: #ffffff;
  font-size: 1rem;
}

/*.sidepic {
  width: 500px;
  height: 600px;
}
*/

.h2 {
  color: #fff;
  font-size: 2rem;
  margin-bottom: 5rem;
}
