.customBulletList {
  list-style-type: none;
  padding-left: 0;
}

.customBulletList li::before {
  content: "❖";
  color: #d34545; /* Customize the color as needed */
  display: inline-block;
  width: 1em;
  margin-left: -1em;
  margin-right: 0.5em;
}

.timelineSection {
  padding: 2rem 1rem 8rem;
}
